
.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    max-height: 100%;
    overflow-y: auto;
    background-color: hsla(31, 99%, 67%, 0.872);
}

.h3{
    margin-top: 5rem;
    align-self: center;
    font-size: 1.8rem;
}

.input{
    font-size: 1.2rem;
    align-self: center;
    padding: 1.2rem;
    width: 70%;
    background-color: hsla(31, 99%, 67%, 0.872) ;
    border: none;
    border-bottom: 2px solid #000;
}

.unordList{
    display: grid;
}

.list{
    font-size: 1.2rem;
    list-style: none;
    padding: 0.7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button{
    font-size: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.saveToSPotify{
    align-self: center;
    font-size: 1.2rem;
    padding: 1.2rem;
    border-radius: 50px;
    background-color: #fff;
}